.wrap .stronghold-buy-pro, .wrap .description.customize-section-description a {
  background: #00c1cf;
  color: white;
  padding: 2px 7px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 2px; }